<div class="container my-3 d-flex flex-column form-control gap-3">
  <input #taskTitle type="text" placeholder="Task Title" />
  <textarea
    #taskDescription
    type="text"
    placeholder="Task Description"
  ></textarea>
  <div class="align-self-center d-flex gap-3">
    <button
      class="btn btn-primary w-12.5"
      (click)="editTask(taskTitle.value, taskDescription.value)"
    >
      Save
    </button>
    <button class="btn btn-danger w-12.5" routerLink="/">Cancel</button>
  </div>
</div>
